@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #fdfeff;
    font-family: "Open Sans", sans-serif;
}
nav {
    float: right;
    margin-right: 6rem;
    margin-top: 15px;
    cursor: pointer;
}

.hamburger {
    display: none;
}

.nav-item {
    padding-right: 20px;
}

.nav-item+a {
    color: grey;
}

.reg-btn {
    position: relative;
    padding: 14px 30px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 2px;
    color: #11c0f8;
    font-size: 1.1rem;
    cursor: pointer;
}

.reg-btn::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -2px;
    z-index: -1;
    border-radius: inherit;
    background: linear-gradient(to right bottom, #11c0f8, #0566ea);
}

.logo {
    margin-top: 2rem;
    margin-left: 5rem;
    width: 120px;
}

@media screen and (max-width: 964px) {
        nav {
            display: none;
        }
        .hamburger {
            display: block;
            float: right;
            margin-right: 40px;
            margin-top: 40px;
        }
        .hamburger i {
            font-size: 1.2rem;
            cursor: pointer;
        }
}
@media screen and (max-width: 600px) {
    .logo {
        margin-left: 3rem;
    }
    
}

/* navbar ends */

.technicalBar {
    max-width: 1480px;
    margin: 0 auto;
    display: flex;
    min-height: 85vh;
    justify-content: center;
    gap: 90px;
    align-items: center;
}

.technicalBar h2 {
    font-size: 54px;
    font-weight: 700;
    color: #2c2c2c;
    line-height: 70px;
    margin-bottom: 20px;
}

.technicalBar p {
    font-size: 18px;
    color: gray;
}

.btn-1 {
    margin-top: 2rem;
    padding: 16px 40px;
    background: linear-gradient(to right bottom, #08b4f6, #0566ea);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
}
.right img {
    width: 500px;
}

@media screen and (max-width: 1207px) {
    .technicalBar h2 {
        font-size: 2.5rem;
        line-height: 60px;
    }
    .technicalBar p {
        font-size: 16px;
        color: gray;
        line-height: 30px;
    }
    .right img {
        width: 400px;
    }
}

@media screen and (max-width: 900px) {
    .technicalBar {
        flex-direction: column-reverse;
        margin-top: 50px;
    }
}

@media screen and (max-width: 600px) {
    .technicalBar {
        padding: 0 20px;
    }
    .technicalBar p {
        line-height: 24px;
    }
    .technicalBar h2 {
        font-size: 2rem;
        line-height: 44px;
    }
    .btn-1 {
        padding: 14px 20px;
    }
}
/*--------------------- tesing bar ---------------------------- */
.testingBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1480px;
    margin: 0 auto;
    gap: 100px;
    padding-top: 6rem;
}

.testingBar h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #2c2c2c;
}

.testingBar p {
    margin-top: 1rem;
    line-height: 2rem;
    color: gray;
    color: #2c2c2c;
}

.btn-2 {
    margin-top: 2rem;
    padding: 15px;
    background: linear-gradient(to right bottom, #08b4f6, #0566ea);
    border: none;
    border-radius: 5px;
    color: white;
}


@media screen and (max-width: 1207px) {
    .testingBar h2 {
        font-size: 2.5rem;
        line-height: 60px;
    }
    .testingBar p {
        font-size: 16px;
        color: gray;
        line-height: 30px;
    }
    .right img {
        width: 400px;
    }
}

@media screen and (max-width: 900px) {
    .testingBar {
        flex-direction: column;
        margin-top: 50px;
    }
}

@media screen and (max-width: 600px) {
    .testingBar {
        padding: 0 20px;
        padding-top: 50px;
    }
    .testingBar p {
        line-height: 24px;
    }
    .testingBar h2 {
        font-size: 2rem;
        line-height: 45px;
    }
}



/* -------------------------- contact bar --------------------------- */
.contactBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 8rem;
}

.titlebar1 {
    flex-direction: column;
}

.contactBar h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #2c2c2c;
}

.contactBar p {
    line-height: 2rem;
    color: gray;
}
.contact-img {
    width: 600px;
    height: 400px;
    padding-bottom: 40px;
}
.contact-img img {
    height: 100%;
    width: 100%;
}

.btn-3 {
    margin-top: 2rem;
    padding: 15px;
    background: linear-gradient(to right bottom, #08b4f6, #0566ea);
    border: none;
    border-radius: 5px;
    color: white;
}

@media screen and (max-width: 1207px) {
    .contactBar h2 {
        font-size: 2.5rem;
        line-height: 50px;
    }
    .contactBar {
        flex-wrap: wrap-reverse;
        margin-top: 6rem;
        gap: 10px;
    }
}
@media screen and (max-width: 600px) {
    .contactBar {
        margin-top: 60px;
        padding: 0 20px;
    }
    .contactBar p {
        line-height: 1.4rem;
        font-size: 15px;
        color: gray;
    }
    .contactBar h2 {
        font-size: 2rem;
        font-weight: bold;
        line-height: 45px;
        margin-bottom: 20px;
    }

    
}



.service-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10rem;
}

.service-bar h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #2c2c2c;
}

.service-bar p {
    margin-top: 1rem;
    line-height: 2rem;
    color: gray;
}

@media screen and (max-width: 600px) {
    .service-bar {
        padding: 0 20px;
        justify-content: flex-start;
    }
    .service-bar h2 {
        font-size: 2rem;
        font-weight: bold;
        line-height: 45px;
    }
    
    .service-bar p {
        margin-top: 1rem;
        line-height: 1.5rem;
        color: gray;
    }
}


/* ------------------ hosting bar  ----------------------------*/
.hosting-bar {
    max-width: 1216px;
    margin: 7rem auto 4rem auto;
}

.host-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
}
.host-wrap div {
    width: 312px;
}
.host-wrap h3 {
    margin-top: 24px;
    color: #183050;
    font-size: 24px;
}
.host-wrap p {
    margin-top: 14px;
    color: gray;
    line-height: 20px;
    font-size: 14px;
}
.host-wrap img {
    width:40px;
}

/* ------------------------ pricing bar --------------------------- */

.pricingBar {
    margin-top: 7rem;
    background: linear-gradient(to right bottom, #08b4f6, #0566ea);
}

.price-title {
    display: flex;
    padding-top: 3rem;
    font-size: 33px;
    justify-content: center;
    color: #FFFFFF;
}

.price-wrap {
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    gap: 20px;
    padding-bottom: 40px;
    flex-wrap: wrap;
}

.con1 {
    width: 17rem;
    padding-top: 2rem;
    padding-left: 1rem;
    border-radius: 1rem;
    background-color: #fff;
    padding-bottom: 20px;
}

.btn {
    display: flex;
    margin-top: 2rem;
    margin-left: 3rem;
    background-color: transparent;
    border: 1px solid #0566ea;
    color: #0566ea;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 800;
    cursor: pointer;
}

.list {
    margin-top: 2rem;
    margin-left: 1rem;
    list-style: none;
    line-height: 2rem;
}

.para {
    font-size: 15px;
    line-height: 1rem;
}

.para1 {
    font-size: 15px;
    text-align: center;
    line-height: 1rem;
    color: azure;
}

.price-details {
    padding-top: 3rem;
    margin-left: 2rem;
}

.price-details p {
    line-height: 1rem;
    margin-left: 1rem;
}

.price-details span {
    color: #9e9898;
}

.inner-con h2 {
    padding-top: 1.5rem;
    color: #FFFFFF;
    text-align: center;
}

.inner-con {
    margin-top: -2rem;
    margin-left: -1rem;
    border-radius: 10px;
    height: 6rem;
    width: 18rem;
    background-color: rgb(55, 53, 53);

}

.tick {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #17c781;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: -1rem;
    margin-right: .9rem;
}

.tick i {
    color: #20daaa;
    font-size: 12px;
}

.center-btn {
    display: flex;
    margin-top: 1.5rem;
    margin-left: 3rem;
    background: linear-gradient(to right bottom, #08b4f6, #0566ea);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 800;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .price-title {
        display: flex;
        padding-top: 3rem;
        font-size: 24px;
        justify-content: center;
        color: #FFFFFF;
    }
    
}

/* ------------------- feedbackBar ----------------------------------*/

.feedbackBar {
    margin-top: 8rem;
}
.feedback-title {
    text-align: center;
    padding-bottom: 40px;
}
.feedback-title h2 {
    font-size: 44px;
}

.main-para {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

.feedbacks {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
    gap: 20px;
    flex-wrap: wrap;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: #e8e6e6;
}


.feedback-card-footer {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}
.parafeedbacks h3 {
    font-size: 16px;
    color:#253853;
    font-weight: 700;
}
.parafeedbacks p {
    font-size: 14px;
    padding: 0;
    margin: 0;
    margin-top: -4px;
    color: #56565f;
    font-weight: 600;
}

.feedback-card {
    border: 1px solid #e5e5e5;
    height: 250%;
    width: 500px;
    background-color: #FFFFFF;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    border-radius: 5px;
}

.feedbacks p {
    color: gray;
}

@media screen and (max-width: 700px) {
    .feedback-card p {
        font-size: 15px;
        line-height: 24px;
        font-weight: 500;
        padding-bottom: 20px;
    }
    .circle {
        margin-top: -20px;
    }
    
}
@media screen and (max-width: 600px) {
    .feedback-title h2 {
        font-size: 2rem;
        line-height: 45px;
        margin-bottom: 20px;
    }
    .feedback-card {
        margin: auto 20px;
    }
}

/*----------------------------- registerBar ---------------------------*/

.registerBar {
    margin-top: 8rem;
    color: #ffff;
    background-image: url("./assets/footer-bg.svg");
}
.registerBar-wrap {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    padding: 40px 0;
    row-gap: 40px;
}
.registerBar h2 {
    justify-content: center;
    align-items: left;
    font-weight: 600;
    font-size: 50px;
}

.registerBar p {
    color: #ffff;
}

.reg-btn2 {
    background-color: transparent;
    color: #FFFFFF;
    border: 1.4px solid #FFFFFF;
    padding: 15px 40px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
}

@media screen and (max-width: 542px) {
    .registerBar {
        margin-bottom: 4rem;
    }
    .registerBar-wrap {
        padding: 40px 20px;
    }
    .registerBar h2 {
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .registerBar p {
        color: #ffff;
        font-size: 15px;
    }
    
}

/* -------------------- footer ------------------------------- */
.footerBar {
    padding-top: 8rem;
    padding-bottom: 2rem;
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
}
.footerBar-logo {
    flex: .5
}
.logos {
    margin-top: 1rem;
}
.footer-para {
    margin-top: 1rem;
}
.listitems {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1;
    gap: 20px;
}
.listitems li,
p {
    color: gray;
    line-height: 2rem;
}

.socialmedia {
    border-radius: 16px;
    text-align: center;
}

.icons {
    font-size: 12px;
    border-radius: 20px;
    color: white;
    background: linear-gradient(to right bottom, #08b4f6, #0566ea);
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.socialmedia-icons {
    display: flex;
    gap: 10px;
    font-weight: 500;
    margin-top: 10px;
}

@media screen and (max-width: 870px) {
    .footerBar {
        flex-direction: column;
        row-gap: 40px;
        padding: 0 20px;
    }
}